include README.rst
include CHANGELOG.rst
include LICENSE.txt
include pyproject.toml

recursive-include src *.c
recursive-include docs *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
