name: build

on:
  release:
    types: [released]
  pull_request:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@99401c364fa51c9c507d3cd6d272049278ac0b2c  # v2.4.0
    with:
      upload_to_pypi: ${{ (github.event_name == 'release') && (github.event.action == 'released') }}
      save_artifacts: true
      targets: |
        # Linux wheels
        - cp39-manylinux_x86_64
        # MacOS wheels
        - cp39-macosx_x86_64
        - cp39-macosx_arm64
        # Windows wheels
        - cp39-win32
        - cp39-win_amd64
      sdist: true
      test_command: python -c "from stsci.imagestats import buildHistogram, computeMean"
      save_artifacts: true
    secrets:
      pypi_token: ${{ secrets.PYPI_PASSWORD_STSCI_MAINTAINER }}
  test_wheel:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: dist-*
          path: dist
          merge-multiple: true
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      - run: "pip install abi3audit"
      - run: "abi3audit --strict --report dist/*.whl"
        shell: sh
