name: build

on:
  release:
    types: [released]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@d68193b68216da64eafaa618f53c59f5d271c56e  # v1.14.0
    with:
      upload_to_pypi: ${{ (github.event_name == 'release') && (github.event.action == 'released') }}
      targets: |
        # Linux wheels
        - cp3*-manylinux_x86_64
        # MacOS wheels
        - cp3*-macosx_x86_64
        # Until we have arm64 runners, we can't automatically test arm64 wheels
        - cp3*-macosx_arm64
        # Windows wheels
        - cp3*-win32
        - cp3*-win_amd64
      sdist: true
      test_command: python -c "from stsci.imagestats import buildHistogram, computeMean"
    secrets:
      pypi_token: ${{ secrets.PYPI_PASSWORD_STSCI_MAINTAINER }}
