name: build

on:
  release:
    types: [released]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      upload_to_pypi: ${{ (github.event_name == 'release') && (github.event.action == 'released') }}
      targets: |
        # Linux wheels
        - cp39-manylinux_x86_64
        # MacOS wheels
        - cp39-macosx_x86_64
        - cp39-macosx_arm64
        # Windows wheels
        - cp39-win32
        - cp39-win_amd64
      sdist: true
      test_command: python -c "from stsci.imagestats import buildHistogram, computeMean"
    secrets:
      pypi_token: ${{ secrets.PYPI_PASSWORD_STSCI_MAINTAINER }}
