name: build

on:
  release:
    types: [released]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@930ac90540ecc5f43ba6d3d176efd25cd5f3c6c2  # v2.2.2
    with:
      upload_to_pypi: ${{ (github.event_name == 'release') && (github.event.action == 'released') }}
      targets: |
        # Linux wheels
        - cp3*-manylinux_x86_64
        # MacOS wheels
        - cp3*-macosx_x86_64
        - cp3*-macosx_arm64
        # Windows wheels
        - cp3*-win32
        - cp3*-win_amd64
      sdist: true
      test_command: python -c "from stsci.imagestats import buildHistogram, computeMean"
    secrets:
      pypi_token: ${{ secrets.PYPI_PASSWORD_STSCI_MAINTAINER }}
