name: CI

on:
  push:
    branches:
    - main
    - 'v*'
    tags:
    - '*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  abi3:
    - name: Checkout
      uses: checkout

    - name: Install Python 3.9
      uses: setup-python
      with:
        python-version: '3.9'

    - name: Build limited API wheel
      run: |
        python -m pip install build
        python -m build -w .

    - name: Upload wheel artifact
      uses: upload-artifact@v4
      with:
        name: abi3whl
        path: dist/
        retention-days: 1

  tests:
    needs: [abi3]

    uses: download-artifact@v5
    with:
      name: abi3whl
      path: .

    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      envs: |
        - name: Limited API wheel
          linux: abi3
          posargs: -v
          setenv:
            ABI3WHL: dist/*.whl

        - name: Security audit
          linux: bandit

        - name: Python 3.9 (Linux; numpy 1.22)
          linux: py39-test-numpy122
          posargs: -v

        - name: Python 3.10 (Linux; numpy 1.25)
          linux: py310-test-numpy125
          posargs: -v

        - name: Python 3.11 (Windows)
          windows: py311-test
          posargs: -v

        - name: Python 3.12 (OSX)
          macos: py312-test
          posargs: -v

        - name: Python 3.13 (OSX)
          macos: py313-test
          posargs: -v

        - name: Python 3.13 (Windows)
          windows: py313-test
          posargs: -v

        # `tox` does not currently respect `requires-python` versions when creating testing environments;
        # if this breaks, add an upper pin to `requires-python` and revert this py3 to the latest working version

        - name: Python 3.14 (Linux) with coverage
          linux: py314-test-cov
          posargs: -v
          coverage: codecov
          pytest-results-summary: true

        - name: Python 3 (Linux with dev dependencies)
          linux: py3-test-devdeps
          posargs: -v
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
